body {
    font-family: "Sono", sans-serif;
  }
  .pricing-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items:center;
    height: 100vh;
    background-color: seagreen;
    
  }
  .pricing-container > div {
    
    background-color: #f2f2f2;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    max-width: 400px;
    
    
  }
  .plan-title{
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
  }
  .plan-price{
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }
  li {
    list-style: none;
    margin-bottom: 20px;
    
  }
  .plan-features{
    text-align: center;
    padding: 0;
    margin: 0;
    
  }
  .plan-button{
    margin-left: 90px;
    background-color: #ff6600;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 5px 8px 5px;
    width: 70px;
  }
  .plan-button:hover{
    background-color: white;
    border-color: #000000;
    color: #ff6600;
  }
  @media (max-width: 500px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
  }
} 